# ATC coding rules - https://github.com/atc-net/atc-coding-rules
# Version: 1.0.0
# Updated: 27-11-2025
# Location: sample
# Distribution: DotNet10
# Inspired by: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

##########################################
# Code Analyzers Rules
##########################################
[*.{cs,csx,cake}]

# AsyncFixer
# http://www.asyncfixer.com


# Asyncify
# https://github.com/hvanbakel/Asyncify-CSharp


# Meziantou
# https://www.meziantou.net/enforcing-asynchronous-code-good-practices-using-a-roslyn-analyzer.htm


# Microsoft - Code Analysis
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/


# Microsoft - Compiler Errors
# https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/


# Microsoft - FxCop
# https://github.com/dotnet/roslyn-analyzers


# SecurityCodeScan
# https://security-code-scan.github.io/


# StyleCop
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers

# SonarAnalyzer.CSharp
# https://rules.sonarsource.com/csharp

dotnet_diagnostic.S1075.severity = none             # Refactor your code not to use hardcoded absolute paths or URIs


##########################################
# Custom - Code Analyzers Rules
##########################################

dotnet_diagnostic.CA1031.severity = none           # Do not catch general exception types
dotnet_diagnostic.CA1054.severity = none           # Change the type of parameter
dotnet_diagnostic.CA1056.severity = none           # Change the type of property
dotnet_diagnostic.CA1063.severity = none           # Modify 'xxx.Dispose' so that it calls Dispose(true)
dotnet_diagnostic.CA1716.severity = none           # Rename namespace
dotnet_diagnostic.CA1724.severity = none           # The type name conflicts in whole or in part with the namespace
dotnet_diagnostic.CA1816.severity = none           # Change xxx.Dispose()
dotnet_diagnostic.CA1819.severity = none           # Properties should not return arrays
dotnet_diagnostic.CA1848.severity = none           # Logging
dotnet_diagnostic.CA5394.severity = none           # Random is not cryptographically secure

dotnet_diagnostic.SA1300.severity = none           # Element should begin with an uppercase letter
dotnet_diagnostic.SA1407.severity = none           # Arithmetic expressions should declare precedence

dotnet_diagnostic.S1075.severity = none            # Refactor your code not to use hardcoded absolute paths or URIs
dotnet_diagnostic.S3881.severity = none            # Fix this implementation of 'IDisposable' to conform to the dispose pattern
dotnet_diagnostic.S5693.severity = none            # Content length limits
dotnet_diagnostic.S6580.severity = none            # Use a format provider when parsing date and time

dotnet_diagnostic.SCS0005.severity = none          # Weak random number generator

dotnet_diagnostic.AsyncFixer01.severity = none     # The method does not need to use async/await
dotnet_diagnostic.AsyncFixer02.severity = none     # Blocking calls inside async methods